<div>
	<div class="container">
		<div class="marvelWrapper">
			<app-icons [fighter_cast]="marvel_cast" [franchise]="marvel" (selection_event)="changePlayerFighter($event)"></app-icons>
		</div>
		<div class="randomWrapper">
			<app-fighter-icon [fighter]="random_icon" (click)="setPlayerRandom()"></app-fighter-icon>
		</div>
		<div class="capcomWrapper">
			<app-icons [fighter_cast]="capcom_cast" [franchise]="capcom" (selection_event)="changePlayerFighter($event)"></app-icons>
		</div>
	</div>
	
	<div class="preview" id="left">
		<app-fighter-preview [cur_fighter]="player_fighter" side="left"></app-fighter-preview>
	</div>
	<div class="preview" id="right">
		<app-fighter-preview [cur_fighter]="cpu_fighter" side="right"></app-fighter-preview>
	</div>	
</div>

