div.iconsContainer
{
	display: inline-block;
	float: right;
}

div.iconWrapper
{
	/*float: right;*/
}

div.row
{
	display: flex;
}

div.row.marvel
{
	flex-direction: row-reverse;
}

div.row.capcom
{
	flex-direction: row;
}