div.iconBorder
{
	height: 78px;
	width: 78px;
	background-color: black;
	margin: 10px;
	cursor: pointer;
}

img
{
	display: inline-block;
	height: 58px;
	width: 58px;
	background-color: white;
	margin: 10px;
}
