img
{
	image-rendering: crisp-edges;
	transform-origin: bottom;
	filter: drop-shadow(3px 3px 1px gray);
}

img#left
{
	-webkit-transform: scale(1.75, 1.75);
	transform: scale(1.75, 1.75);
}

img#right
{
	-webkit-transform: scale(-1.75, 1.75);
	transform: scale(-1.75, 1.75);
}