img
{
	border: 1px solid green;
	image-rendering: crisp-edges;
	transform-origin: bottom;
}

img#left
{
	-webkit-transform: scale(1.75, 1.75);
	transform: scale(1.75, 1.75);
}

img#right
{
	-webkit-transform: scale(-1.75, 1.75);
	transform: scale(-1.75, 1.75);
}